/*-- NavBar------------------------------*/

.navbar {
    padding: 0;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 6px;
    z-index: 4;
}


.navbar-bg {
    background-color: rgba(0, 0, 0, 0.0);
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-bg.scrolled {
    background-color: #000000 !important;
    transition: background-color 200ms linear;

}

.nav-item a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 15px;
    transition: ease-in-out 0.4s;
}

.nav-item a:hover {
    color: #d05d05;
}

.nav-toggler-button {
    color: #f2f2f2;
    font-size: 27px;
}


/* Main page */


.background-alpha-04 {
    background: rgba(0, 0, 0, 0.2) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    padding: 0px;
    position: relative;


}



.headers-wrapper {
    height: 100%;
    margin: 0;
    color: #9e0f0f;

}

.span-grey {
    color: #bcbcbc;
}


.button-header {
    background-color: rgba(0, 0, 0, 0.7);
    border-color: #bcbcbc;
    transition: ease-in 0.4s;
    color: #bcbcbc;
}


.button-header:hover {
    border-color: #9e0f0f;
    box-shadow: 0px 1px 17px 5px rgba(167, 63, 63, 1);
    color: #9e0f0f;
}

.button-header a {
    color: #bcbcbc;
    text-decoration: none;
}

.button-header a:hover {
    color: #9e0f0f;
}


.call-2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0;
    padding-left: 40px;
}

.call-3 {
    text-align: center;
    color: #e5e3e3;
    padding-left: 40px;
}




html,
body {
    margin: 0;
}

.full-screen-video-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.full-screen-video-container video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}




/* social links & hover animation for all links  */

.social-links {
    position: relative;

}

.social-links li a i {
    width: 28px;
    height: 28px;
    padding: 12px 0;
    border-radius: 50%;
    border: solid 1px #e6e6e6;
    line-height: 2px;
    font-size: 13px;
    text-align: center;
    color: #e6e6e6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #d05d05;
    border-color: #d05d05;
    transform: scale(1.2);
}

/* css for to animated arrows  */
.arrow-top {
    width: 10px;
    height: 10px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    transform: rotate(45deg);
    animation: arrows 1.5s ease-in-out infinite;
}

.arrow-mid {
    width: 10px;
    height: 10px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    transform: rotate(45deg);
    animation: arrows 1.5s ease-in-out infinite;
    animation-delay: 0.5s;
}

.arrow-bottom {
    width: 10px;
    height: 10px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    transform: rotate(45deg);
    animation: arrows 1.5s ease-in-out infinite;
    animation-delay: 1s;
}

.home-arrow-container {
    height: 60px;
    position: absolute;
    bottom: 0;
    display: inline;
    width: 100%;
    text-align: center;
}

.home-arrow-wrapper {
    display: inline-block;
    margin-bottom: 25px;
}

@keyframes arrows {
    0% {
        border-color: #d05d05;
    }

    80% {
        border-color: rgb(255, 255, 255, 0);
    }

    100% {
        border-color: rgb(255, 255, 255, 0);
    }
}

/* Portfolio  */

.portfolio-bg {
    background-color: #101010;
    padding-bottom: 40px;
}

.block-divider-portfolio {
    margin: 0;
    width: 100%;
    height: 15px;
    border: 0;
    background: rgb(234, 78, 26);
    background: -moz-linear-gradient(184deg, rgba(234, 78, 26, 1) 0%, rgba(182, 13, 109, 1) 100%);
    background: -webkit-linear-gradient(184deg, rgba(234, 78, 26, 1) 0%, rgba(182, 13, 109, 1) 100%);
    background: linear-gradient(184deg, rgba(234, 78, 26, 1) 0%, rgba(182, 13, 109, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea4e1a", endColorstr="#b60d6d", GradientType=1);
}

.portfolio-header {
    color: #C6C6C6;
    font-size: 23px;
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #d05d05;
}

.portfolio-row {
    margin-top: 25px;
}

.website-links {
    text-decoration: none;
}



.row {
    margin: 25px 0 0 0;
    padding: 0;

}


.pink {

    width: 22rem;
    background: rgb(234, 78, 26);
    background: -moz-linear-gradient(214deg, rgba(234, 78, 26, 1) 12%, rgba(182, 13, 109, 1) 100%);
    background: -webkit-linear-gradient(214deg, rgba(234, 78, 26, 1) 12%, rgba(182, 13, 109, 1) 100%);
    background: linear-gradient(214deg, rgba(234, 78, 26, 1) 12%, rgba(182, 13, 109, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea4e1a", endColorstr="#b60d6d", GradientType=1);
    margin: 20px;

    -webkit-box-shadow: 0px 0px 12px 0px rgba(234, 78, 26, 0.55);
    -moz-box-shadow: 0px 0px 12px 0px rgba(234, 78, 26, 0.55);
    box-shadow: 0px 0px 12px 0px rgba(234, 78, 26, 0.55);
    cursor: pointer;

    transition: 0.3s ease-in-out;

}

.pink:hover {
    transform: scale(1.05);
}

.card-text-2 {
    color: #C6C6C6;
    margin-bottom: 8px;
}

.card-text-3 {
    color: #C6C6C6;
    margin-top: 8px;
}


.vertical-divider {
    width: 50%;
    height: 3px;
    color: #C6C6C6;
    border: 0;
    border-top: 1px solid white;
    margin-top: .4rem;
    margin-bottom: .4rem;
}


.footer-inner {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 0px 5px 28px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 10px 13px -7px #000000, inset 0px 5px 28px 0px rgba(0, 0, 0, 0.34);
    background-color: #4e4e4e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea4e1a", endColorstr="#b60d6d", GradientType=1);
    color: #000000;
    text-decoration: none;
}


/* ABOUT US PAGE  */

.about-us-daniel {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
}


.vertical-divider-about-us {
    height: 3px;
    color: #C6C6C6;
    background: rgb(234, 78, 26);
    background: -moz-linear-gradient(184deg, rgba(234, 78, 26, 1) 0%, rgba(182, 13, 109, 1) 100%);
    background: -webkit-linear-gradient(184deg, rgba(234, 78, 26, 1) 0%, rgba(182, 13, 109, 1) 100%);
    background: linear-gradient(184deg, rgba(234, 78, 26, 1) 0%, rgba(182, 13, 109, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ea4e1a", endColorstr="#b60d6d", GradientType=1);
    margin-top: .4rem;
    margin-bottom: .4rem;

}

.h-about-us {
    text-decoration: underline;
    text-decoration-color: #d14618;
}


.our-mission {
    text-align: center;
    padding: 30px;
}


.list-unstyled li a {
    color: white;
}

/* Privacy page */

.h-privacy-us {
    text-decoration: underline;
}


/* Contact Page !  */

.contact-bg {
    background: url(/Users/DanielClements/Desktop/webdev/repositories/void-web/images/dynamic-wang-g-YsyUUwT9M-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    padding: 0px;
    
}


#form-style{
    padding-top:140px;
    margin:0; 
    color: rgb(225, 226, 228);
}


.button-padding {
    padding-top: 30px;
    padding-left: 15px;
}




@media (max-height:720px) {
    .contact-bg {
    height: auto;
    padding-bottom: 40px;
    }
    
    
}



@media (min-height: 1200px) {


   .contact-bg {
       height: auto;
   }

}